.Home{
    background-color: #3f3160;
    width:800 px;
    margin: 40px auto;
    min-height:500px;
    }
#to-do-form input{
    background-color: rgb(27,112,137);
    border:0;
    width:200px;
    height:50px;
    padding:0 20px;
    margin:20px;
    color:#fff;
}

#to-do-form input::placeholder{
    color: rgba(255,255,255,0.5);
}
#to-do-form input:focus,#to-do-form input:focus{
    outline:none;
}

#to-do-form button{
    height: 50px;
    width:150px;
    border-radius: 5px;
    border:0;
    background-color: rgb(202,156,24);
    cursor:pointer;
    font-weight: bolder;
    color:#fff;
}